<h1>All post</h1>
<% if user_signed_in? %>
  <%= link_to 'New post', new_post_path, class: 'btn btn-success' %>
<%end%>  
</br> 
</br> 
</br>
</br>  
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>User</th>
      <th>Post</th>
      <th>Comment</th>
      <th>---</th>
      <th>---</th>
      <th>---</th>
      <th>---</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.content %></td>
        <td><%= post.user.try(:email) %></td>
        <th><%= post.scheduled_at %></th>
        <th><%= post.last_commented_at %></th>
        <td><%= users.secret_password %></td>
        <td><%= link_to 'Show', post %></td>
        <% if user_signed_in?  && post.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td> </td>
          <td> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


