<!DOCTYPE html>
<html>
  <head>
     <title>CityBox</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
    

       <% if user_signed_in? %>
        <%= link_to 'New post', new_post_path, class: 'btn btn-success' %>
        <%= link_to "My post", posts_path, class: 'btn btn-success' %>
         
      <% else %>
        
      <% end %>
  

      

      <%= yield %>

    </div>

    <%= render 'layouts/footer' %>
    
  </body>
</html>